name: Post welcome comment
on:
  push:
  pull_request:
    types: [opened]
permissions:
  pull-requests: write
jobs:
  build:
    name: Post welcome comment
    runs-on: ubuntu-latest
    steps:
      - run: Write-Host "Hello" 
        shell: pwsh
      - run: echo "Hello" 
        shell: bash
      - run: Write-Host "Hello" 
        shell: pwsh
      - run: echo "Hello" 
        shell: bash
